.cms-layout-app {
  min-height: 100vh;


  .trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
  }

  .logo {
    width: 40px;
    height: 40px;
    margin: 16px;
    cursor: pointer;
    // background-image: url('https://stc-fin.zdn.vn/fiza-website/images/logo_v2.svg');
    background-image: url(/images/logo.png);
    
    background-size: contain;
    background-repeat: no-repeat;
  }


 

  .site-layout .site-layout-background {
    padding: 24px;
    border-radius: 16px;
    margin: 24px 80px;
    overflow-x: scroll;
    min-height: calc(100vh - 64px - 24px - 24px);
  }

  .site-layout .site-layout-background-header {
    background: #fff;
    padding: 0 80px;
    display: flex;
    justify-content: space-between;

    .menu-header {
      flex: auto;
      justify-content: center;
    }
  }

}

.ant-layout-sider-collapsed {
  .logo {
    background-image: url(/images/logo.png) !important;
  }
}

.top-right-container {
  display: flex;
}

.platform-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 30px;
}

.action-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 30px;
  cursor: pointer;

  .btn-logout {
    margin-left: 20px;
  }
}

.app-type-menu {
  padding-bottom: 16px;

  .ant-menu-item {
    flex-grow: 1;
    text-align: center;
  }
}

.card-edit-view {
  padding: 24px;
  border-radius: 4px;
}

.form-edit-view {
  border: 1px solid rgb(235, 237, 240);
  margin-bottom: 16px !important;
  border-radius: 4px;
  padding: 24px 24px 0 !important;

  &.view-mode {
    .group_field {
      min-width: 50%;
      width: 100%;
      position: relative;
      label {
        display: block;
        color: #1890ff;
      }
      .field_value {
        min-height: 40px;
        padding: 10px 0;
        margin-bottom: 16px;
        width: 100%;
      }
    }
  }
}
