* {
  box-sizing: border-box;
  margin: 0;
}

@primary-color: #1890ff;
@primary-color-2: #1890ff;
@primary-color-3: #b863d8;
// @link-color: #4113c6;
@text-color: #2d2d2d;
@heading-color: #2d2d2d;
@success-color: #00c853;
@error-color: #f64b4b;
@warning-color: #eca52b;
@info-color: #17a2b8;
@dark-color: #343a40;
@light-dark-color: #6c757d;

.bg-white {
  background-color: white;
}

.cms-layout-title {
  font-size: 24px;
  color: #2d2d2d;
  &-medium {
    font-size: 16px;
    color: #2d2d2d;
    font-weight: 400;
  }
}

.mt-2 {
  margin-top: 8px;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

.items-center {
  align-items: center;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.mt-4 {
  margin-top: 16px;
}

.mb-2 {
  margin-bottom: 8px;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-auto {
  overflow: auto;
}

.ant-form-item-with-help .ant-form-item-explain {
  margin-top: 4px;
  margin-bottom: 16px;
}

.site-page {
  &-header,
  &-content {
    border: 1px solid rgb(235, 237, 240);
    margin-bottom: 16px !important;
    border-radius: 4px;
  }
  &-content {
    padding: 24px 16px 0 !important;
    border-radius: 4px;
  }
}

.text-right {
  text-align: right;
}

.color-success {
  color: #00c853;
}

.color-error {
  color: #f64b4b;
}

.mx-4 {
  margin-left: 16px;
  margin-right: 16px;
}

.my-4 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.mb-4 {
  margin-bottom: 16px;
}

.mr-4 {
  margin-right: 16px;
}

.mr-1 {
  margin-right: 2px;
}

.ml-4 {
  margin-left: 16px;
}
.ml-auto {
  margin-left: auto;
}

.ml-2 {
  margin-left: 8px;
}

.mr-2 {
  margin-right: 8px;
}

.pl-4 {
  padding-left: 16px;
}

.p-4 {
  padding: 16px;
}

.py-4 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.rounded-2 {
  border-radius: 8px;
}

.gap-4 {
  gap: 16px;
}

.h-full {
  height: 100%;
}

.w-full {
  width: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

.font-semibold {
  font-weight: 600;
}

.font-normal {
  font-weight: 400;
}

.text-14 {
  font-size: 14px;
}

.text-16 {
  font-size: 16px;
}

.z-100 {
  z-index: 100;
}

.absolute {
  position: absolute;
}

.top-0 {
  top: 0;
}

.left-0 {
  left: 0;
}

.grid {
  display: grid;
}

.grid-col-2 {
  grid-template-columns: 1fr 1fr;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.items-start {
  align-items: flex-start;
}

/* Target the entire scrollbar */
::-webkit-scrollbar {
  width: 4px; /* Width of the scrollbar */
  height: 4px;
}

/* Track styles */
::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Color of the track */
}

/* Thumb styles (the draggable portion of the scrollbar) */
::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the thumb */
  border-radius: 4px; /* Rounded corners of the thumb */
}

/* When the scrollbar is being hovered */
::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color of the thumb on hover */
}

.ant-pro-query-filter {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.ant-collapse-content {
  overflow: auto;
}

pre {
  margin-bottom: 0;
}

.ant-col .ant-form-item-label {
  flex: unset !important;
}

.tableContainer {
  border-collapse: collapse;
}

.tableContainer td,
.tableContainer th {
  border: 1px solid #e8e8e8;
  padding: 8px;
}
// .responsive-table {
//   overflow-x: auto;
//   white-space: nowrap;
// }

.top-issues tr {
  cursor: pointer;
}

.ant-drawer-close {
  color: white; /* Replace with your desired color */
}

.ant-drawer-close:hover {
  color: white; /* Replace with your desired hover color */
}
